<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="static\style.css">
    </head>
    <body>

        <!--Header-->
        <header>
            <a href="#" class="logo navbar">DINESHGAHLOT.COM</a>
            <ul>
                <li><a href="#" class="navbar">HOME</a></li>
                <li><a href="#" class="navbar">PORTFOLIO</a></li>
                <li><a href="#" class="navbar">ABOUT</a></li>
                <li><a href="#" class="navbar">TESTIMONIALS</a></li>
                <li><a href="#" class="navbar">CONTACT</a></li>
            </ul>
        </header>
         <!--carousel-->
         <div class="carousel next" id="carousel">
            <div class="list">
                <div class="item">
                    <img src="images/img6.jpg">
                    <div class="content">
                        <div class="author">KARTIK BHAL</div>
                        <div class="title">Capturing Moments: A Visual Journey</div>
                        <div class="des">
                            Welcome to our gallery, where pixels meet emotions and memories are frozen in time. Browse through our collection of breathtaking snapshots and immerse yourself in the art of storytelling through photography.
                        </div>
                        <div class="buttons">
                            <button>Read More</button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="images/img10.jpg">
                    <div class="content">
                        <div class="author">KARTIK BHAL</div>
                        <div class="title">Capturing Moments: A Visual Journey</div>
                        <div class="des">
                            Welcome to our gallery, where pixels meet emotions and memories are frozen in time. Browse through our collection of breathtaking snapshots and immerse yourself in the art of storytelling through photography.
                        </div>
                        <div class="buttons">
                            <button>Read More</button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="images/img17.jpg">
                    <div class="content">
                        <div class="author">KARTIK BHAL</div>
                        <div class="title">Capturing Moments: A Visual Journey</div>
                        <div class="des">
                            Welcome to our gallery, where pixels meet emotions and memories are frozen in time. Browse through our collection of breathtaking snapshots and immerse yourself in the art of storytelling through photography.
                        </div>
                        <div class="buttons">
                            <button>Read More</button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="images/img8.jpg">
                    <div class="content">
                        <div class="author">KARTIK BHAL</div>
                        <div class="title">Capturing Moments: A Visual Journey</div>
                        <div class="des">
                            Welcome to our gallery, where pixels meet emotions and memories are frozen in time. Browse through our collection of breathtaking snapshots and immerse yourself in the art of storytelling through photography.
                        </div>
                        <div class="buttons">
                            <button>Read More</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Thumbnail-->
            <div class="thumbnail">
                <div class="item">
                    <img src="images/img6.jpg">
                    <div class="content">
                        <div class="title">
                            Visual Chronicles
                        </div>
                        <div class="des">
                            Discover the essence of life in every frame. Explore now.
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="images/img10.jpg">
                    <div class="content">
                        <div class="title">
                            Visual Chronicles
                        </div>
                        <div class="des">
                            Discover the essence of life in every frame. Explore now.
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="images/img17.jpg">
                    <div class="content">
                        <div class="title">
                            Visual Chronicles
                        </div>
                        <div class="des">
                            Discover the essence of life in every frame. Explore now.
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="images/img8.jpg">
                    <div class="content">
                        <div class="title">
                            Visual Chronicles
                        </div>
                        <div class="des">
                            Discover the essence of life in every frame. Explore now.
                        </div>
                    </div>
                </div>
            </div>

            <!--arrows-->
            <div class="arrows">
                <button id="prev"><</button>
                <button id="next">></button>
            </div>
         </div>

        <div id="second-section">
            Testimonials
        </div>

        <script src="static\home.js"></script>
    </body>
</html>